@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  min-height: 100vh;
}
.page nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 72px;
  padding: 20px 34px;
  background-color: #5725E5;
  background: linear-gradient(270deg, #7743DB 31.64%, #5725E5 66.78%);
}
.page nav .phone-btn-1 {
  display: none;
  border: none;
  background: none;
  width: 37px;
  height: 37px;
}
@media only screen and (max-width: 800px) {
  .page nav .phone-btn-1 {
    display: block;
  }
}
.page nav .x-btn {
  display: none;
  border: none;
  background: none;
  width: 37px;
  height: 37px;
}
.page nav h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 800px) {
  .page nav h1 {
    font-size: 18px;
  }
}
.page nav a {
  margin-right: 100px;
  text-decoration: none;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media only screen and (max-width: 800px) {
  .page nav a {
    display: none;
  }
}
.page .phone-div {
  display: none;
  width: 100%;
  background-color: #5725E5;
}
@media only screen and (max-width: 800px) {
  .page .phone-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: absolute;
  }
}
.page .phone-div a {
  text-decoration: none;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.page .center {
  display: flex;
  width: 100%;
  padding: 100px;
}
@media only screen and (max-width: 800px) {
  .page .center {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.page .center .main-img {
  width: 677.61px;
  height: 437.417px;
}
@media only screen and (max-width: 800px) {
  .page .center .main-img {
    width: 352px;
    height: 256.511px;
    margin-bottom: 29px;
  }
}
.page .center .box {
  margin-right: 100px;
}
@media only screen and (max-width: 800px) {
  .page .center .box {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.page .center .box h1 {
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 68px;
  font-style: italic;
  font-weight: 700;
  line-height: 109%;
  background: linear-gradient(268deg, #7743DB 46.2%, #5725E5 59.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 800px) {
  .page .center .box h1 {
    font-size: 40px;
    text-align: center;
  }
}
.page .center .box p {
  width: 608px;
  margin-bottom: 32px;
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 109%;
}
@media only screen and (max-width: 800px) {
  .page .center .box p {
    text-align: center;
    font-size: 20px;
    width: 332px;
  }
}
.page .center .box button {
  border: none;
  width: 170px;
  height: 50px;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
  border-radius: 25px;
  background: linear-gradient(263deg, #7743DB 38.81%, #5725E5 70.24%);
}
.page ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
  margin-right: 64px;
  margin-bottom: 20px;
  width: 178px;
  height: 199px;
  border-radius: 25px;
  background: #5725E5;
}
@media only screen and (max-width: 800px) {
  .page ul li {
    width: 160px;
    height: 180px;
  }
}
.page ul li p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
}/*# sourceMappingURL=index.css.map */